*{
    margin: 0px;
    padding: 0px;
}

body{
text-align: center;
background-color: beige;
color: orangered;
font-family: Arial, Helvetica, sans-serif;
}

h1{
    box-shadow: 0px 0px 5px gray;
    padding: 10px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.formlayout{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 400px;
    color: orangered;
    position: absolute;
    left: 35%;
    bottom: 40%;
    padding: 3px;
    margin: auto;
    max-width: 500px;
}

#theform{
    box-shadow: 0px 0px 4px gray;
    padding: 2px;
    border-radius: 15px;
    background-color: aqua;
}

#hidebutton{
    padding: 15px;
    margin: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(118, 118, 199);
    font-size: medium;
}

#hidebutton:hover{
    cursor: pointer;
    background-color: rgb(94, 94, 199);
}

#hidebutton:active{
    box-shadow: 0px 0px 2px 5px rgb(183, 183, 219);
}

.entries{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20%;
    height: 100px;
    width: 200px;
    background-color: sandybrown;
    color: black;
    justify-content: center;
    float: left;
}

.delClass{
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 2px;
    margin: 2px;
}

.delClass:hover{
    background-color: darkred;
}

.IHaveRead{
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 2px;
}

.IHaveRead:hover{
    background-color: darkgreen;
}

#bookEntryContainer
{
    position: absolute;
    top: 60%;
    width: 100%;
    height: 300px;
    margin: auto;
    margin: 15px 0px;
    box-shadow: 0px 0px 4px gray;
    padding: 15px;
    border-radius: 10px;
}

#bookEntryContainer h2{
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
}

#closeForm{
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: red;
}

#closeForm:hover{
    cursor: pointer;
}

h2{
    margin-bottom: 10px;
}

.input-container{
    padding: 10px 0px;
}

.input-container label{
    color: gray;
}

.input-container input[type=text]{
    width: 100%;
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
}

.input-container input[type=text]:focus{
    outline: none;
    border-color: blue;
}

radio-container{
    margin: 10px 0px;
}

input[type=radio]{
    margin-right: 10px;
}

input[type=submit]{
    padding: 10px;
    border: none;
    background-color: rgb(49, 184, 49);
    color: white;
    border-radius: 5px;
}

input[type=submit]:hover{
    cursor: pointer;
}