body{
text-align: center;
background-color: beige;
color: orangered;
}
.formlayout{
    background-color: aqua;
    border: 2px solid aquamarine;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 400px;
    color: orangered;
    position: absolute;
    left: 35%;
    bottom: 43%;
}
.entries{
    border: 2px solid gray;
    border-radius: 25%;
    height: 200px;
    width: 200px;
    background-color: lightgray;
    color: black;
}

#bookEntryContainer
{
    border: 2px solid black;
    position: absolute;
    top: 60%;
    width: 100%;
    width: 1330px;
    height: 400px;
}

#closeForm{
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
}